<a href="<%= admin_index_path %>" class="a">
  <button class="back button">Back</button>
</a>

  <h1 class='title' >Employee Maganer</h1>
  <a href="<%= new_employee_path %>" class='btn__newemployee' >Add new employee</a>
<div class="employees__content">

  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Position</th>
      <th>Email</th>
      <th>Number</th>
      <th>Private Number</th>
      <th>action</th>
    </tr>
    <% @employees.each do | employee | %>
      <tr>
        <td><%= employee.id %></td>
        <td><%= employee.name %></td>
        <td><%= employee.position %></td>
        <td><%= employee.email %></td>
        <td><%= employee.employee%></td>
        <td><%= employee.number_private%></td>
        <td class='action__container'>
          <%= link_to '', edit_employee_path(employee), class: 'action__edit' %>
          <%= button_to '', employee_path(employee), method: :delete, class: 'action__delete' %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

