<h1>Empleados</h1>

<a href="<%= new_employee_path %>"><button>nuevo empleado</button></a>

<hr>

<% @employees.each do |employee| %>
    <div class="employee">
        <div class="content">
            <ul>
                <li><%= employee.email %></li>
                <li><%= employee.name %></li>
                <li><%= employee.position %></li>
                <li><%= employee.employee %></li>
                <li><%= employee.private %></li>
            </ul>
        </div>
    </div>
<% end %>
