<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class='main__container'>
  <div>
    <h1 class='title'>Reports</h1>
  </div>
  <div class='select'>
    <a href="<%= admin_index_path %>" class='btn__back' > <%= button_to 'back' %> </a>
    <label>Choose a company</label>
    <select>
      <% @companies.each do |company| %>
        <option value="<%= company.id %>"><%= company.name %></option>
      <% end %>
    </select>

  </div>
  <%= javascript_include_tag 'admin_reports_charts' %>
  <div class='reports'>
    <button title='Attendance by day for employees' id='btn-attendance' class='btn' >Attendance</button>
    <button title='Average time employees checked in/out by month' id='btn-average' class='btn' >Average</button>
    <button title='Absence report by month' id='btn-absence' class='btn' >Absence</button>
  </div>

  <div class='chart__main__container' >
    <div class='chart__container' id='div-attendance'>
      <%= line_chart attendace, title: "Attendance by day for employees" %>
    </div>
    <div class='chart__container' id='div-average'>
      <%= line_chart average, title: 'Average time employees checked in/out by month' %>
    </div>
    <div class='chart__container'id='div-absence'>
      <%= line_chart absence, title: 'Absence report by month' %>
    </div>
  <div>

</div>
