<a href="<%= admin_index_path %>" class="a">
  <button class="back">Back</button>
</a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class='main__container'>

  <div>
    <h1 class='title'>Reports</h1>
  </div>

  <div class="main__content">
    <%= form_with url: admin_reports_path, method: :post do | form | %>
      <div class='reports'>
        <% form.hidden_field name:'authenticity_token', value:form_authenticity_token %>
        <%= javascript_include_tag 'admin_reports_charts' %>
        <%= form.button 'Attendance', id:'btn-attendance', class:'btn' %>
        <%= form.button 'Average', id:'btn-average', class:'btn' %>
        <%= form.button 'Absence', id:'btn-absence', class:'btn' %>
      </div>

      <label>Choose a company</label>
      <select name="name">
        <%= @companies.each do |company| %>
          <option value="<%= company.name %>"><%= company.name %></option>
        <% end %>
      </select>
    <% end %>
    
    <%= render 'reports' %>
  </div>
</div>
