
<div class="company__body">
	<div class="form__company">
		<%=  form_for @company do  |form| %>

			<% @company.errors.full_messages.each do |error| %>
				<div>
					<%= error %>
				</div>
			<% end %>
			<div class="company__controls">
		    <label>Nombre</label>
				<%= form.text_field :name %>
			</div>

			<div class="company__controls">
		    <label>Address</label>
				<%= form.text_field :address %>
			</div>
			<div class= "company__buttons">
				<%= form.submit %>
				<a href="<%= admin_index_path %>"> <button>Cancel</button></a>
			</div>
		<% end %>
	</div>
</div>
