<h3>Crear compania</h3>
<div>
	<%=  form_for @company do  |form| %>

		<% @company.errors.full_messages.each do |error| %>
			<div>
				<%= error %>
			</div>
		<% end %>

		<div>
      <label>nombre</label>
			<%= form.text_field :name %>
		</div>

		<div>
      <label>Address</label>
			<%= form.text_field :address %>
		</div>
    <%= form.submit %>
		<a href="<%= admin_index_path %>"><button>Cancel</button></a>
	<% end %>
</div>
