<div class='container' >
	<div class="company__form__container">
		<div class=" ">
			<%=  form_for @company do  |form| %>
				<% @company.errors.full_messages.each do |error| %>
					<div>
						<%= error %>
					</div>
				<% end %>
				<div class="company__controls">
				<div>Company Name</div>
					<%= form.text_field :name, placeholder: 'Spotify' %>
				</div>

				<div class="company__controls">
				<div>Address</div>
					<%= form.text_field :address, placeholder: 'Florida' %>
				</div>
				<div class= "company__buttons">
					<%= form.submit class: 'company__form__button__update button'%>
					<a href="<%= companies_path %>"> <button class='company__form__button__cancel button' >Cancel</button></a>
				</div>
			<% end %>
		</div>
	</div>
</div>
